<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Admin Page</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="views/css/style.css">
  <link rel="stylesheet" href="views/css/bootstrap-grid.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div>
<nav id="nav-properties" class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <p class="navbar-brand news-title" href="#"><font color="black">RSSReader</font></p>
    </div>
    <ul class="nav navbar-nav">
      <li>
      	<button class="btn btn-1 btn-1a" type="button"><a class="nav-link" href="index.php"><font color="black">HOME</font></a></button>
      </li>
     </ul>
     <ul class="nav navbar-nav navbar-right">
      <li>
      	<button class="btn btn-1 btn-1a" type="button"><a class="link" href="index.php?disconnect"><font color="black">Disconnect</font></a></button>
      </li>
     </ul>
    
  </div>
</nav>
<form action="admin.php" method="POST">
<p align="center"> Max news to parse : <input class="design-textbox" type="number" name="max_news" min="1" max="50"></p>
<p align="center"><span>RSS Feed</span> <input class="design-textbox" type="text" name="url">
<p align="center"><input class="radio" type="radio" name="contact" value="add" checked /><span>Add</span></p>
<p align="center"><input class="radio" type="radio" name="contact" value="rm" /><span>Remove</span></p>
<p align="center"><input class="button-style button-style-2 button-style-1a" type="submit" value="Submit"></p>
</form>
</div>



