<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Home Page</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="views/css/style.css">
  <link rel="stylesheet" href="views/css/bootstrap-grid.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="page">
<nav id="nav-properties" class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <p class="navbar-brand news-title" href="#"><font color="black">RSSReader</font></p>
    </div>
    <ul class="nav navbar-nav">
      <li><button class="btn btn-1 btn-1a" type="button"><a href="admin.php"><font color="black">Admin</font></a></button></li>
  </ul >
  <ul class="nav navbar-nav navbar-right">
      <li><button class="btn btn-1 btn-1a" type="button"><a href="?disconnect"><font color="black">Disconnect</font></a></button></li>
  </ul>
  </div>
</nav>




